.navbar {
  height: 110px;
  background-color: rgba(0,0,0,0);
  border: none;
}
.row {
  padding: 0;
  margin: 0;
}


.green {
  background-color: green;
  color: white;
}
.blue {
  background-color: blue;
  color: white;
}
.yellow {
  background-color: yellow;
  color: black;
}
.orange {
  background-color: #f15a24;
  color: white;
}
.linden {
  background-color: #f15a24;
  color: white;
}
.food-truck {
background-color: black;
color: white;
}


@media only screen and (max-width : 767px) {

  .navbar-brand img {
    width: 40px;
  }

}
